<h1>Contact</h1>
<hr size=<%=barsize%> color=<%=barcolor%>>
<h4>Mail address:</h4> 
<p>Stabile 11-74<br/> 
200 First Street, SW<br/>
Rochester, MN 55905<br/>
Telephone: (507) 293-0057<br/>
Email: liu.hongfang@mayo.edu</p>
