<h1>Liu Lab</h1>
<hr size=<%=barsize%> color=<%=barcolor%>>
<div><font face="Arial">
<h2>News</h2>
<h3>DEC 1, 2011</h3>
<p>We are starting to set up the web page for Mayo Clinic Natural Language Processing Program! The plan is to have several of our tools on line. Let us know if you have any suggestion.</p>
<h3>July 1, 2010</h3>
<p>We have initiated our developmental webpages for BioTagger-GM and onto-BioThesaurus . Let us know if you have any suggestion.</p>
<h2>Program Mission</h2>
<p>Our research is to advance state of the art in the area of natural language processing in biomedical domain, with an emphasis on developing tools to improve the accessibility of information stored in free text. The lab's daily activities consist of learning, investigation, design, implementation, testing, and evaluation of efficient algorithms and techniques to solve challenging problems in support of a variety of applications including:</p>
<ul>
	<li>Advance NLP techniques in biomedicine</li>
	<li>Ontology-based database integration</li>
	<li>Microarray data analysis</li>
	<li>More on Research >></li> 
<ul>
</font>
</div>
 
