<h1>Members</h1>
<hr size=<%=barsize%> color=<%=barcolor%>>
<h3>Lab Staff:</h3>
	<ul>
		<li>Hongfang Liu (2011-present; Director)</li>
		<li>Jay Doughty (2011-present; NLP Program Manager)</li>
		<li>Cindy Gilberston (Administrative Assistant)</li>
	</ul>

<h3>Current members focusing on clinical NLP:</h3>
	<ul>
		<li>Stephen Wu (2011-present)</li> 
		<li>Siddhartha Jonnalagadda (2011-present)</li> 
		<li>Sunghwan Sohn (2011-present; co-mentor with Dr. Christopher Chute)</li> 
		<li>Kavishwar Wagholikar (2010-present)</li> 
	</ul>

<h3>Current members focusing on bioinformatics:</h3>
	<ul>
		<li>Xiaoyang Ruan (Postdoctoral Fellow, 2009-present)</li>
		<li>Bo Xu (Student, 2010-present)</li> 
	</ul>

<h3>Past members of the lab:</h3>
	<ul>
		<li>Manabu Torii (Affiliate faculty since 2007; Postdoctoral Fellow, 2006-7)</li>
		<li>Kyung Dae Ko (Postdoctoral Fellow, 2010-2011)</li>
		<li>Qi Su (Graduate Stuent, 2009-2010)</li>
		<li>Yixiao Gong (Graudate Student, 2009-2010)</li>
		<li>Guixian Xu (Visiting scholar 2008-2009)</li>
		<li>Lei Cui (Visiting scholar 2008-2009)</li>
		<li>Ionut Bebu, PhD (Postdoctoral Fellow, 2006-2008)</li>
		<li>Sameer Soi (Graduate Intern, 2006-7; start his PhD program at Genome and Computation Biology at UPenn Fall 2007) (the best poster presentation for M.S. in Biochemistry and Molecular Biology at Georgetown University; Congratulation and way to go, Sameer)</li> 
		<li>Linshan Yuan (Graduate Student, 2007-8)</li> 
		<li>Lanlan Yin (Graduate Student, 2007-8)</li> 
		<li>Marcela Rodriguez (Graduate Intern, 2008)</li> 
	</ul>
