<h1>Publications</h1>
<hr size=<%=barsize%> color=<%=barcolor%>>

<h3>Year 2010</h3>
<ol>
	<li>M. Torii, L. Yin, T. Nguyen, C. Mazumdar, H. Liu, D. Hartley, and N. Nelson (2010) An exploratory study of a text classification framework for web-based surveillance of emerging epidemics International. Journal of Medical Informatics (in press)</li>
	<li>C. Lee, M. Torii, J. Shan, Y. Tsai, ZZ. Hu, and H. Liu (2010) Evaluating gene/protein name tagging and mapping for article retrieval. Proceeding of SMBM 2010</li>
	<li>M. Torii, C. Lee, ZZ. Hu, and H. Liu (2010) Extracting short form and long form pairs just for gene/protein names. Proceeding of SMBM 2010</li>
	<li>M. Torii, ZZ Hu, and H. Liu (2010) Word pair features for MEDLINE document classification (2010) Proceedings of IDAMAP</li>
	<li>W. Choi, R. Wolber, W. Gerwat, T. Mann, J Batzer, C. Smuda, H. Liu, L. Kolbe, and V. Hearing (2010) A novel paracrine fibroblast-derived melanogenic factor neuregulin-1 (NRG-1) that modulates the constitutive color and melanocyte function in human skin (Journal of Cell Science, in press)</li>
	<li>H. Liu, S. Fulmer-Smentek, P. D'Andrade, P. Lorenzi, J. N. Weinstein, Y. G. Pommier, and W. C. Reinhold (2010). Agilent profiling and characterization of mRNA and microRNA expression in the NCI-60 human cancer cell lines (Molecular Cancer Therapeutics May)</li>
	<li>W.C. Reinhold, J.L. Mergny, H. Liu, M. Ryan, et. al. (2010) Transcriptional regulation of TOP1 in relationship with transcription pausing at guanosine quartets, DNA copy number, and genomic instability (Cancer Research)</li>
	<li>W. Choi, Y. Miyamural, R. Wolber, C. Smuda, W.C. Reinhold, H. Liu, L. Kolbe, and V. Hearing (2010) Regulation of Human Skin Pigmentation in situ by Repetitive UV Exposure (Journal of Investigative Dermatology)</li>
	<li>L. Yin, G. Xu, M. Torii, ZZ Hu, C. Wu, and H.Liu (2010) Document classification for mining host-pathogen protein-protein interactions (Artificial Intelligence in Medicine)</li>
</ol>

<h3>Year 2009</h3> 
<ol>
	<li>H. Liu, G. Xu, M. Torii, ZZ Hu, and J. Goll (2009) Learning from positive and unlabeled document retrieval for curating bacterial protein-protein interactions Lecture notes in Bioinformatics (in press)</li>
	<li>M. Torii, ZZ Hu, C. Wu, H. Liu (2009) BioTagger-GM: A gene/protein name recognition system. JAMIA 2009</li>
	<li>CN Arighi, H. Liu, Natale DA, Barker WC, Drabkin H, Blake JA, Smith B, Wu CH. TGF-beta signaling proteins and the Protein ontology, BMC Bioinformatics. 2009 May 6;10 Suppl 5:S3.</li>
	<li>M. Torii, H. Liu, ZZ Hu (2009) Support Vector Machine-Based Mucin-Type O-linked Glycosylation Site Prediction Using Enhanced Sequence Feature Encoding (AMIA 2009)</li>
	<li>H. Liu, G. Xu, M. Torii, ZZ. Hu (2009) Learning from positives and unlabeled documents for bacterial protein-protein interaction (BioLink 2009)</li>
	<li>H. Liu, M. Torii, ZZ Hu (2009) Normalization gene/protein names using ontologies - a feasibility study (BioLink 2009)</li>
	<li>M Umarji, C Seaman, AG Koru, H Liu (2009) Software Engineering Education for Bioinformatics. CSEE&T 2009: 216-223</li>
	<li>G. Xu, Z. Niu, P. Uetz, X. Gao, X. Qin, H. Liu (2009) Semi-Supervised Learning of Text Classification on Bacterial Protein-Protein Interaction documents (IJCBS 2009)</li>
	<li>Z.Z. Hu, B. Kagan, H. Huang, H. Liu, V. C. Jordan, A, Riegel, A. Wellstein, C. Wu. Pathway and Network Analysis of E2-Induced Apoptosis in Breast Cancer Cells AACR 2009 (Highly-rated poster)</li>
	<li>H. Liu, S. Fulmer-Smentek, P. D'Andrade, P. Lorenzi, J. N. Weinstein, K. Kohn, Y. G. Pommier, and W. C. Reinhold. Profiling and characterization of microRNA expression in the NCI-60 human cancer cell lines AACR 2009</li>
	<li>W. C. Reinhold, T. D. Pfister, H. Liu, T. Gingeras, E. Kaldjian, R. Selzer, M. Ryan, R. E. Parchment, J. Tomaszewski, R. J. Kinders, J.N. Weinstein, Y.G. Pommier. Transcript expression analysis of TOP1 at the exon level reveals potential intragenic regulation, association with DNA copy number, and is associated with genomic stability, and response to the indenoisoquinolines in the NCI-60 AACR 2009</li>
</ol>

<h3>Year 2008</h3>
<ol> 
	<li>H. Liu, X. Li, V. Yoon, and Robert Clarke (2008) Annotating breast cancer microarray samples using ontologies (AMIA 2008, in press)</li>
	<li>I. Bebu, F. Seillier-Moiseiwitsch, H. Liu (2008) Analysis of microarray titration experiments (Biocomp'2008, in press)</li>
	<li>M. Torii, H. Liu (2008) At-least-N voting over biomedical named entity recognition systems (BioLink 2008, in press)</li>
	<li>C. Arighi, H. Liu, D. Natale, W. Barker, H. Drabkin, ZZ Hu, J. Blake, B. Smith, and C. Wu (2008) TGF-beta Signaling Proteins and the Protein Ontology (Bio-Ontologies 2008, in press)</li>
	<li>A.G. Koru, K El Emam, D. Zhang, H Liu, and D Mathew (2008) The Size-Defect Relationship for Software Modules: Replicated Studies on Open-Source Office Applications (Empirical Software Engineering, in press)</li>
	<li>M Umarji, M Pohl, C Seaman, AG Koru, and H Liu (2008) Teaching Software Engineering to End-users (Fourth Workshop on End-User Software Engineering (WEUSE IV))</li>
	<li>A A. Morgan, Z Lu, X Wang, A M. Cohen, J Fluck, P Ruch, A Divoli, K Fundel, R Leaman, J. Hakenberg, C Sun, HH Liu, R Torres, M Krauthammer, W W. Lau, H Liu, C Hsu, M Schuemie, and L Hirschman (2008) Overview of BioCreative II gene normalization (Genome Biology. In press)</li>
	<li>L Smith, L K. Tanabe, R Johnson, C Kuo, I Chung, Y Lin, R Klinger, C M. Friedrich, K Ganchev, M Torii, H Liu, B Haddow, C A. Struble, R J. Povinelli, A Vlachos, W A. Baumgartner Jr., L Hunter, B Carpenter, R Tsai, H Dai, F Liu, Y Chen, C Sun, S Katrenko, P Adriaans, C Blaschke, R Torres, M Neves, P Nakov, A Divoli, M Lopez, J Mata-Vazquez, and W. John Wilbur (2008) Overview of BioCreative II gene mention recognition (Genome Biology. In press)</li>
</ol>

<h3>Year 2007</h3> 
<ol>
	<li>H. Liu, M. Torii (2007) Entity Names in Biomedical Databases and in Free Text (ICDM 2007)</li>
	<li>I. Bebu, F. Seillier-Moiseiwitsch, H. Liu (2007) Semiparametric RMA Background-Correction for Oligonucleotide Arrays (BIBE 2007)</li>
	<li>H. Liu, Zeeberg, B.R., Qu, G., Koru, A.G., Ferrucci, A., Kahn, A., Ryan, C., Nuhanovic, A, Munson, R., Reinhold, W.C. and Weinstein, J.N. (2007) AffyProbeMiner: a web resource for computing or retrieving accurately redefined Affymetrix probe sets (Bioinformatics 2007)</li>
	<li>H. Liu, I. Bebu, Xin Li, Microarray probes and probe sets (Frontier of Science 2010)</li>
	<li>M. Torii, H. Liu Semantic Category Assignment for Long Forms Extracted from Text (Proceeding of AMIA 2007)</li>
	<li>M. Torii, ZZ Hu, C. Wu, H. Liu A Comparison Study of Algorithms on Biomedical Short Form Definition Detection (BMC Bioinformatics, 2007)</li>
	<li>D. Natale, C. Arighi, W. Barker, J. Blake, Ti-Cheng Chang, Zhangzhi Hu, H. Liu, B. Smith, and C. Wu (2007) Conceptual Framework for a Protein Ontology (BMC Bioinformatics, 2007)</li>
	<li>A.G. Koru, D. Zhang, and H. Liu Modeling the Effect of Size on Defect Proneness for Open-Source Software (Proceeding of Predictor Models in Software Engineering (PROMISE) 2007)</li>
	<li>A.G.Koru, D. Zhang, and H. Liu Effect of Coupling on Defect Proneness in Evolutionary Open-Source Software Development (Proceedings of Open Source Software (OSS) 2007)</li>
	<li>H. Liu, M. Torii, ZZ Hu, and C. Wu Gene Mention and Gene Normalization Based on Machine Learning and Online Resources, Proceeding of the Second BioCreative Challenge Evaluation Workshop 2007, 135-140</li>
	<li>Kahn, M. Ryan, H. Liu, BR Zeeberg, DC Jamison and J Weinstein SpliceMiner: A High-Throughput Database Implementation of the NCBI Evidence Viewer for Microarray Splice Variant Analysis BMC Bioinformatics 2007 (online at http://www.biomedcentral.com/1471-2105/8/75).</li>
	<li>H. Liu. Application of Programming Languages in Biology (2007). In Bioinformatics: A practical approach by Shui Qing Ye, Chapman & Hall/Crc Mathematical & Computational Biology, 455-510</li>
</ol>

<h3>Year 2006</h3> 
<ol>
	<li>H. Liu, Z. Hu, M. Torii, C. Wu, and C. Friedman (2006) Quantitative Assessment of Dictionary-based Protein Named Entity Tagging JAMIA.</li>
	<li>H. Xu, M. Markatou, R Dimova, H. Liu, and C. Friedman (2006) Machine Learning and Word Sense Disambiguation in the Biomedical Domain: Design and Evaluation Issues. BMC Bioinformatics.</li>
	<li>G. Koru and H. Liu (2006) Characterizing Change-Prone Modules in two large-scale open source products. Journal of Software and Systems.</li>
	<li>H. Liu, D. F. Hsu (2006) Generalized Shuffle-Exchange Networks: Combinatorial and Fault-Tolerant Properties. Journal of Dynamics of Continuous, Discrete and Impulsive Systems.</li>
	<li>H. Liu, Z. Hu, and C Wu (2006) BioThesaurus: a thesaurus of gene and protein names. BioInformatics, Jan 1;22(1):103-5.</li>
	<li>M. Torii, H. Liu (2006) Headwords and Suffixes in Biomedical Names, Proceedings of KDLL 2006. Lecture Notes in Bioinformatics, Eds. Bremer, E.G.; Hakenberg, J.; Han, E.-H.S.; Berrar, D.; Dubitzky, W.Vol. 3886.</li>
</ol>
