<h1>Research</h1>
<hr size=<%=barsize%> color=<%=barcolor%>>
<div><font face="Arial" size=2>
<nav>
<ul align="center"><font size=3>
	<li><a href="#ref1">Areas</a></li>
	<li><a href="#ref2">Software/Resources</a></li>
	<li><a href="#ref3">Projects</a></li>
	<li><a href="#ref4">Support</a></li>
</font>
</ul>
</nav>
<h2><a name="ref1">Areas:</a></h2>
	<ul>
		<li><b>Advance NLP techniques in biomedicine: </b>With the use of computers in storing the explosive amount of biomedical information, natural language processing (NLP) approaches have been explored to make the task of managing information recorded in free text more feasible. We are interested in using corpus-based unsupervised machine learning and online resources to build NLP applications in biomedicine.</li>
		<li><b>Ontology-based database integration: </b>Currently, there are hundreds of biomedical databases. Ontology-based methodologies for database integration promote precise communication between scientists, enable information retrieval across multiple resources, and extend the power of computational approaches to perform data exploration, inference and mining. We promote the use of data mining and text mining techniques for ontology development and relationship establishment.</li>
		<li><b>"-omics" data analysis: </b>DNA microarray technology has provided an opportunity to simultaneously monitor the expression levels of a large number of genes in response to intentional experiment perturbations such as gene disruptions and drug treatments. We conduct research on upper-stream analysis including probe set redefinition, probe-level analysis, and down-streaming analysis using Gene Ontology.</li>
	</ul>

<h2><a name="ref2">Software/Resources</a></h2>
<p>Some of our software and/or resources resulted from our research have been hosted in <a href="http://discover.nci.nih.gov/">NIH/NCI/CCR Laboratory of Molecular Pharmacology</a> or <a href="http://pir.georgetown.edu/iprolink/">Protein Information Resources</a>. The following lists those that are hosted locally and/or recent development.</p>
	<ul>	
		<li><b>BioTagger-GM: </b>A gene/protein name tagging system based on dictionary and system ensemble (in construction, feedback welcomed)</li>
		<li><b>Onto-BioThesaurus: </b>An Ontology-enabled Gene/Protein Entity Dictionary and its applications (in construction, feedback welcomed)</li>
		<li><b>DynGO: </b>A Tool for Browsing and Mining Gene Ontology and Its Associations (not up-to-date, and in the process of reviving)</li>
	</ul>

<h2><a name="ref3">Ongoing/past projects:</a></h2>
	<ul>
		<li><b>Incorporating knowledge into "-omics" data analysis: </b>collaborate with investigators to apply bioinformatics research into practice. Collaborators include <a href="http://discover.nci.nih.gov/">NIH/NCI/CCR Laboratory of Molecular Pharmacology</a>,<a href="http://ccr.cancer.gov/staff/staff.asp?profileid=5716">NIH/NCI/CCR Laboratory of Cell Biology</a>, and various local collaborators inside Georgetown University Medical Center</li> 
		<li><b>Knowledge acquistion: </b>acquire lexical and semantic knowledge of biomedical terms from online resources and text. Projects include Onto-BioThesaurus , BioThesaurus and SFThesaurus</li> 
		<li><b>Ontology development, implementation, and visualization: </b>develop, implement, and visualize ontologies in the biomedical domain. Projects include DynGO and <a href="http://pir.georgetown.edu/pro">Protein Ontology</a></li> 
		<li><b>"-omics" data analysis: </b>regroup Affymetrix probes into probe sets according to sequences, provide probe-level analysis, provide transcript-level probe design support, and provide down-stream analysis based on Gene Ontology. Projects include AffyProbeMiner , <a href="http://discover.nci.nih.gov/spliceminer">SpliceMiner</a>, <a href="http://discover.nci.nih.gov/gominer">GoMiner</a>, and DynGO.The first two are collaborations with Dr. John Weinstein and Dr. Barry Zeeberg from <a href="http://discover.nci.nih.gov/">NIH/NCI/CCR/LMP</a></li>
		<li><b>Software engineering in biomedical informatics: </b>collaborate with Dr. Gunes Koru in the <a href="http://gkoru.ifsm.umbc.edu/EASEL.htm">Empirical & Applied Software Engineering Lab</a> from UMBC to use machine learning and survival analysis to study the biomedical open source software error proneness.</li> 
		<li><b>Ontology-based database integration: </b>develop an ontology-based system for managing microarray experiments for Breast Cancer (a collaboration with <a href="http://clarkelabs.georgetown.edu/web/res_robert.php">Dr. Robert Clarke</a>)</li>
	</ul>

<h2><a name="ref4">Grant support:</a></h2>
	<ul>
		<li><a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0845523">NSF 0845523 CAREER: Natural language processing for biological knowledge management (Aug 1, 2009 - July 30, 2014)</a></li> 
		<li>NIH R01LM009959A1 Onto-BioThesaurus: Ontological representation of gene/protein names for biomedical literature mining (Sep 1, 2009 - Aug 31, 2011)</li> 
		<li><a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0639062">NSF 0639062 SEI+II(BIO): BioTagger - Biological Entity Tagging Using Online Resources and Machine Learning (Sep 1, 2004 - Aug 31, 2008)</a></li> 
		<li>NIH R01GM080646 PRO: A Protein Ontology in Open Biomedical Ontologies (May 1, 2007 - March 15, 2009)</li>
	</ul>

</font>
</div>
