<h1>Useful Links</h1>
<hr size=<%=barsize%> color=<%=barcolor%>>
<h3>At Mayo Clinic</h3>
<ul> 
	<li>GDMS (PI: Rajeev Chaudhry)</li>
	<li>SHARP (PI: Christopher Chute)</li>
</ul>
<h3>At Georgetown</h3>
<ul>
	<li>Georgetown University</li>
	<li>DBBB , Department of Biostatistics, Bioinformatics, and Biomathematics</li>
	<li>PIR, Protein Information Resources</li>
	<li>LCCC, Lombardi Comprehensive Cancer Center</li>
	<li>Liu Lab Research Collaborators</li> 
	<li>PIR,Protein Information Resources (director: Dr. Cathy H. Wu)</li>
	<li>NIH/NCI/CCR/LMP, Genomics and Bioinformatics Group (head: Dr. John N. Weinstein)</li>
	<li>Dr. Robert Clarke, Georgetown</li>
	<li>Dr. Alan R. Aronson, NIH/NLM</li>
</ul>
