<h1>/BioTagger/download</h1>
<table>
	<tr>
	  <th>Name</th>
	  <th>Last Modified</th>
	  <th>Size</th>
	</tr>
	<tr>
	  <td><a href="/readme.txt">readme.txt</a></td>
	  <td>2012-1-9</td>
	  <td>6.3k</td>
	</tr>
</table>

