<div id="ontoheader">
<table>
	<tr>
		<td width=900 valign="top"><%=link_to(image_tag("MCNLP.png",:title=>"ToMainPage"), rt('/page/home'))%></td>	
		<td><%=image_tag "Mayo_Clinic.png",:alt=>"MayoLogo"%></td>
	</tr>
</table>
<table id="footer">
	<tr>
		<td width="1024" align="center" bgcolor="purple">Liu Lab | Natural Language Processing | Mayo Clinic</td>
	</tr>
</table>

